:root {
    /* All color here */
    --h-color: #2b3943;
    --p-color: #7e86ab;
    /* Fonts sizes */
    --font-size-h1: 2.5em;
    --font-size-h2: 2em;
    --font-size-h3: 1.5em;
    --font-size-h4: 1em;
    --font-size-p: 1em;


    /* All sizes of parts from the main to the last */
    --main-width: 210mm;
    --main-height: 297mm;

    --leftnright-width: var(--main-width);
    --leftnright-height: var(--main-height);
    --left-width: calc(var(--leftnright-width) * 0.6);
    --left-height: calc(var(--leftnright-height) * 1);
    --space-between-width: calc(var(--leftnright-width) * 0.02);
    --space-between-height: calc(var(--leftnright-height) * 1);
    --right-width: calc(var(--leftnright-width) * 0.38);
    --right-height: calc(var(--leftnright-height) * 1);

    --bloc-top-left-width: calc(var(--left-width) * 1);
    --bloc-top-left-height: calc(var(--left-height) * 0.14);
    --fullname-width: calc(var(--bloc-top-left-width) * 1);
    --fullname-height: calc(var(--bloc-top-left-height) * 0.5);
    --profession-width: calc(var(--bloc-top-left-width) * 1);
    --profession-height: calc(var(--bloc-top-left-height) * 0.5);
    --introduce-width: calc(var(--bloc-top-left-width) * 1);
    --introduce-height: calc(var(--bloc-top-left-height) * 1);
    --space-bloc-top-left-width: calc(var(--bloc-top-left-width) * 1);
    --space-bloc-top-left-height: calc(var(--bloc-top-left-height) * 0);

    --bloc-top-right-width: calc(var(--right-width) * 1);
    --bloc-top-right-height: calc(var(--right-height) * 0.14);
    --contact-width: calc(var(--bloc-top-right-width) * 1);
    --contact-height: calc(var(--bloc-top-right-height) * 0.5);
    --photo-width: calc(var(--bloc-top-right-width) * 1);
    --photo-height: calc(var(--bloc-top-right-height) * 0.5);
    --space-bloc-top-right-width: calc(var(--bloc-top-right-width) * 1);
    --space-bloc-top-right-height: calc(var(--bloc-top-right-height) * 0);

    --exps-width: calc(var(--left-width) * 1);
    --exps-height: calc(var(--left-height) * 0.7);
    --bloc-exp-width: calc(var(--exps-width) * 1);
    --bloc-exp-height: calc(var(--exps-height) * 0.15);
    --header-exp-width: calc(var(--bloc-exp-width) * 1);
    --header-exp-height: calc(var(--bloc-exp-height) * 0.15);
    --title-exp-width: calc(var(--header-exp-width) * 0.5);
    --title-exp-height: calc(var(--header-exp-height) * 1);
    --date-exp-width: calc(var(--header-exp-width) * 0.5);
    --date-exp-height: calc(var(--header-exp-height) * 1);
    --body-exp-width: calc(var(--bloc-exp-width) * 1);
    --body-exp-height: calc(var(--bloc-exp-height) * 0.85);
    --space-exp-width: calc(var(--exps-width) * 1);
    --space-exp-height: calc(var(--exps-height) * 0.02);

    --skills-width: calc(var(--right-width) * 1);
    --skills-height: calc(var(--right-height) * 0.7);
    --bloc-skill-width: calc(var(--skills-width) * 1);
    --bloc-skill-height: calc(var(--skills-height) * 0.3);
    --title-skill-width: calc(var(--bloc-skill-width) * 1);
    --title-skill-height: calc(var(--bloc-skill-height) * 0.1);
    --body-skill-width: calc(var(--bloc-skill-width) * 1);
    --body-skill-height: calc(var(--bloc-skill-height) * 0.9);
    --space-skill-width: calc(var(--skills-width) * 1);
    --space-skill-height: calc(var(--skills-height) * 0.02);
    /*  */
}




h1 {
    color: var(--h-color);
    font-size: var(--font-size-h1);
}
h2 {
    color: var(--h-color);
    font-size: var(--font-size-h2);
}
h3 {
    color: var(--h-color);
    font-size: var(--font-size-h3);
}
h4 {
    color: var(--h-color);
    font-size: var(--font-size-h4);
}
p, ul, li {
    color: var(--p-color);
    font-size: var(--font-size-p);
    line-height: 1.2;
    padding-left: 0;
    margin-left: 3px;
}
li {
    list-style-position: inside;
}






main {
    width: var(--main-width);
    height: var(--main-height);
}



    #leftnright {
        border: solid black 1px;
        width: var(--leftnright-width);
        height: var(--leftnright-height);
        display: flex;
        flex-direction: row;
    }
    #left {
        width: var(--left-width);
        height: var(--left-height);
    }
    #space-between {
        background-color: pink;
        width: var(--space-between-width);
        height: var(--space-between-height);
    }
    #right {
        width: var(--right-width);
        height: var(--right-height);
    }



    .bloc-top-left {
        border: solid black 1px;
        width: var(--bloc-top-left-width);
        height: var(--bloc-top-left-height);
    }
        #fullname {
            width: var(--fullname-width);
            height: var(--fullname-height);
        }
        #profession {
            width: var(--profession-width);
            height: var(--profession-height);
        }
        #introduce {
            width: var(--introduce-width);
            height: var(--introduce-height);
        }
        .space-bloc-top-left {
            background-color: pink;
            width: var(--space-bloc-top-left-width);
            height: var(--space-bloc-top-left-height);
        }



    .bloc-top-right {
        border: solid black 1px;
        width: var(--bloc-top-right-width);
        height: var(--bloc-top-right-height);
    }
        #contact {
            width: var(--contact-width);
            height: var(--contact-height);
        }
        #photo {
            width: var(--photo-width);
            height: var(--photo-height);
        }
        .space-bloc-top-right {
            background-color: pink;
            width: var(--space-bloc-top-right-width);
            height: var(--space-bloc-top-right-height);
        }



    #exps {
        border: solid black 1px;
        width: var(--exps-width);
        height: var(--exps-height);
    }
        .bloc-exp {
            border: solid black 1px;
            width: var(--bloc-exp-width);
            /* height: var(--bloc-exp-height); */
        }
            .header-exp {
                width: var(--header-exp-width);
                height: var(--header-exp-height);
                display: flex;
                flex-direction: row;
            }
                .title-exp {
                    width: var(--title-exp-width);
                    height: var(--title-exp-height);
                    text-align: left;
                }
                .date-exp {
                    width: var(--date-exp-width);
                    height: var(--date-exp-height);
                    text-align: right;
                }
                    .title-date-exp-n-title-skill {
                        margin: 0;
                        padding: 0;
                    }
            .body-exp {
                width: var(--body-exp-width);
                /* height: var(--body-exp-height); */
            }
        .space-exp {
            background-color: pink;
            width: var(--space-exp-width);
            height: var(--space-exp-height);
        }


        
    #skills {
        border-color: solid black 1px;
        width: var(--space-exp-width);
        height: var(--space-exp-height);
    }
        .bloc-skill {
            width: var(--bloc-skill-width);
            /* height: var(--bloc-skill-height); */
        }
            .title-skill {
                width: var(--title-skill-width);
                height: var(--title-skill-height);
            }
            .body-skill {
                width: var(--body-skill-width);
                /* height: var(--body-skill-height); */
            }
        .space-skill {
            background-color: pink;
            width: var(--space-skill-width);
            height: var(--space-skill-height);
        }