:root {
    /* All color here */
    /* --leftnright-side-color: rgb(255, 241, 246); */
    --left-side-color: rgb(255, 241, 246);
    --right-side-color: rgb(255, 223, 148);
    --h-color: #17222b;
    --p-color: #4c5789;

    /* Fonts sizes */
    --font-size-h1: 5em;
    --font-size-h2: 2.2em;
    --font-size-h3: 1.5em;
    --font-size-h4: 1em;
    --font-size-p: 0.9em;
    --font-size-li: 0.9em;

    /* All sizes of parts from the main to the last */
    --main-width: 210mm;
    --main-height: 297mm;

    --leftnright-width: calc(var(--main-width) * 1);
    --leftnright-height: calc(var(--main-height) * 1);
    --left-width: calc(var(--leftnright-width) * 0.6);
    --left-height: calc(var(--leftnright-height) * 1);
    --space-between-width: calc(var(--leftnright-width) * 0.05);
    --space-between-height: calc(var(--leftnright-height) * 1);
    --right-width: calc(var(--leftnright-width) * 0.35);
    --right-height: calc(var(--leftnright-height) * 1);

    --bloc-top-left-width: calc(var(--left-width) * 1);
    --bloc-top-left-height: calc(var(--left-height) * 0.14);
    --fullname-width: calc(var(--bloc-top-left-width) * 1);
    --fullname-height: calc(var(--bloc-top-left-height) * 0.20);
    --profession-width: calc(var(--bloc-top-left-width) * 1);
    --profession-height: calc(var(--bloc-top-left-height) * 0.35);
    --introduce-width: calc(var(--bloc-top-left-width) * 1);
    --introduce-height: calc(var(--bloc-top-left-height) * 0.85);
    --space-bloc-top-left-width: calc(var(--bloc-top-left-width) * 1);
    --space-bloc-top-left-height: calc(var(--bloc-top-left-height) * 0.05);

    --bloc-top-right-width: calc(var(--right-width) * 1);
    --bloc-top-right-height: calc(var(--right-height) * 0.14);
    --contact-width: calc(var(--bloc-top-right-width) * 1);
    --contact-height: calc(var(--bloc-top-right-height) * 0.95);
    --photo-width: calc(var(--bloc-top-right-width) * 1);
    --photo-height: calc(var(--bloc-top-right-height) * 0.95);
    --space-bloc-top-right-width: calc(var(--bloc-top-right-width) * 1);
    --space-bloc-top-right-height: calc(var(--bloc-top-right-height) * 0.05);

    --exps-width: calc(var(--left-width) * 1);
    --exps-height: calc(var(--left-height) * 0.7);
    --bloc-exp-width: calc(var(--exps-width) * 1);
    --bloc-exp-height: calc(var(--exps-height) * 0.15);
    --header-exp-width: calc(var(--bloc-exp-width) * 1);
    --header-exp-height: calc(var(--bloc-exp-height) * 0.15);
    --title-exp-width: calc(var(--header-exp-width) * 0.5);
    --title-exp-height: calc(var(--header-exp-height) * 1);
    --date-exp-width: calc(var(--header-exp-width) * 0.5);
    --date-exp-height: calc(var(--header-exp-height) * 1);
    --body-exp-width: calc(var(--bloc-exp-width) * 1);
    --body-exp-height: calc(var(--bloc-exp-height) * 0.85);
    --space-exp-width: calc(var(--exps-width) * 1);
    --space-exp-height: calc(var(--exps-height) * 0.005);

    --skills-width: calc(var(--right-width) * 1);
    --skills-height: calc(var(--right-height) * 0.7);
    --bloc-skill-width: calc(var(--skills-width) * 1);
    --bloc-skill-height: calc(var(--skills-height) * 0.3);
    --title-skill-width: calc(var(--bloc-skill-width) * 1);
    --title-skill-height: calc(var(--bloc-skill-height) * 0.1);
    --body-skill-width: calc(var(--bloc-skill-width) * 1);
    --body-skill-height: calc(var(--bloc-skill-height) * 0.9);
    --space-skill-width: calc(var(--skills-width) * 1);
    --space-skill-height: calc(var(--skills-height) * 0.005);
    /*  */
}

/* Fonts family */
@font-face {
    font-family: 'Corinthia'; /* Nom de la police */
    src: url('./src/static/font/Corinthia/Corinthia-Regular.ttf') format('woff2'),
         url('./src/static/font/Corinthia/Corinthia-Bold.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Viaoda';
    src: url('./src/static/font/Viaoda/ViaodaLibre-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Yusei';
    src: url('./src/static/font/Yusei_Magic/YuseiMagic-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: italic;
}



h1 {
    font-family: 'Corinthia', sans-serif;
    font-size: var(--font-size-h1);
    color: var(--h-color);
    margin: 0.3em;
}
h2 {
    font-family: 'Viaoda', sans-serif;
    font-size: var(--font-size-h2);
    color: var(--h-color);
    margin: 1em;
}
h3 {
    font-family: 'Viaoda';
    font-size: var(--font-size-h3);
    color: var(--h-color);
    margin-top: 0;
    margin-left: 1em;
    padding: 0;
}
h4 {
    font-family: 'Viaoda';
    font-size: var(--font-size-h4);
    color: var(--h-color);
    margin: 0.5em;
    padding: 0;
}
p, ul, li {
    font-family: 'Yusei';
    color: var(--p-color);
    padding-left: 0;
    margin-left: 5px;
}
p {
    font-size: var(--font-size-p);
}
li {
    font-size: var(--font-size-li);
    list-style-position: inside;
}










main {
    width: var(--main-width);
    height: var(--main-height);
}



    #leftnright {
        border: solid black 2px;
        border-radius: 5px;
        width: var(--leftnright-width);
        height: var(--leftnright-height);
        display: flex;
        flex-direction: row;
    }
    #left {
        background-color: var(--left-side-color);
        width: var(--left-width);
        height: var(--left-height);
    }
    #space-between {
        /* background-color: pink; */
        width: var(--space-between-width);
        height: var(--space-between-height);
    }
    #right {
        background-color: var(--right-side-color);
        width: var(--right-width);
        height: var(--right-height);
    }



    .bloc-top-left {
        border: solid rgb(255, 255, 255) 1px;
        /* background-color: rgb(178, 178, 232); */
        width: var(--bloc-top-left-width);
        height: var(--bloc-top-left-height);
    }
        #fullname {
            width: var(--fullname-width);
            height: var(--fullname-height);
        }
        #profession {
            width: var(--profession-width);
            height: var(--profession-height);
        }
        #introduce {
            width: var(--introduce-width);
            height: var(--introduce-height);
        }
        .space-bloc-top-left {
            /* background-color: rgb(228, 60, 88); */
            width: var(--space-bloc-top-left-width);
            height: var(--space-bloc-top-left-height);
        }



    .bloc-top-right {
        /* border: solid black 1px; */
        /* background-color: rgb(207, 232, 178); */
        width: var(--bloc-top-right-width);
        height: var(--bloc-top-right-height);
    }
        #contact {
            width: var(--contact-width);
            height: var(--contact-height);
            padding-top: 2em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        #photo {
            width: var(--photo-width);
            height: var(--photo-height);
        }
        .space-bloc-top-right {
            /* background-color: rgb(228, 60, 88); */
            width: var(--space-bloc-top-right-width);
            height: var(--space-bloc-top-right-height);
        }



    #exps {
        /* border: solid black 1px; */
        width: var(--exps-width);
        height: var(--exps-height);
    }
        .bloc-exp {
            /* border: solid black 1px; */
            width: var(--bloc-exp-width);
            /* height: var(--bloc-exp-height); */
        }
            .header-exp {
                width: var(--header-exp-width);
                height: var(--header-exp-height);
                display: flex;
                flex-direction: row;
            }
                .title-exp {
                    width: var(--title-exp-width);
                    height: var(--title-exp-height);
                    text-align: left;
                }
                .date-exp {
                    width: var(--date-exp-width);
                    height: var(--date-exp-height);
                    text-align: right;
                }
            .body-exp {
                width: var(--body-exp-width);
                /* height: var(--body-exp-height); */
            }
        .space-exp {
            /* background-color: pink; */
            width: var(--space-exp-width);
            height: var(--space-exp-height);
        }


        
    #skills {
        /* border-color: solid black 1px; */
        width: var(--space-exp-width);
        height: var(--space-exp-height);
    }
        .bloc-skill {
            width: var(--bloc-skill-width);
            /* height: var(--bloc-skill-height); */
        }
            .title-skill {
                width: var(--title-skill-width);
                height: var(--title-skill-height);
            }
            .body-skill {
                width: var(--body-skill-width);
                /* height: var(--body-skill-height); */
            }
        .space-skill {
            /* background-color: pink; */
            width: var(--space-skill-width);
            height: var(--space-skill-height);
        }